[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = http://github.com/magit/magit.git
[submodule "site-lisp/dired-plus"]
	path = site-lisp/dired-plus
	url = https://github.com/emacsmirror/dired-plus.git
[submodule "site-lisp/thing-opt"]
	path = site-lisp/thing-opt
	url = https://github.com/emacsmirror/thing-opt.git
[submodule "site-lisp/org-mode"]
	path = site-lisp/org-mode
	url = http://orgmode.org/org-mode.git
